<!-- 网页底部 -->
<div class="footer ">
    <div class="container">
        <div class="row footer-top hidden-xs">
            <div class="col-xs-3" >
                <h3>人在哪，家就在哪</h3>
                <p>欢迎你加入，这里友家民宿</p>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-3">
                        <h4>关于友家</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p><a href="">加入我们</a></p>
                                <p><a href="">许可经营</a></p>
                                <p><a href="">合作伙伴</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p><a href="">电子邮箱</a></p>
                                <p><a href="">新浪微博</a></p>
                                <p><a href="">微信公众号</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>加入我们</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p><a href="">我是房客</a></p>
                                <p><a href="">合作伙伴</a></p>
                                <p><a href="">广告招商</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>遇到问题</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p><a href="">境外短租</a></p>
                                <p><a href="">途远度假</a></p>
                                <p><a href="">查看帮助</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>&copy;2018Youjia友家</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>