<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/login.css">
    <script src="../js/login.js"></script>
</head>
<body class="findbody">
<div class="container">
    <a class="backhome" href="index"><i class="glyphicon glyphicon-menu-left">返回首页</i></a>
    <div class="row">
        <div class="col-md-6 col-md-push-3 login">
            <form>
                <div class="form-group">
                    <input id="thisid" type="hidden" value="<%=uid%>">
                    <label for="pwd">请输入新的密码:</label>
                    <input type="password" class="form-control" name="passwd" id="pwd" placeholder="请输入密码">
                </div>
                <button id="btn-resetpwd" type="button" class="btn btn-primary btn-block">确认密码</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>